.body{
    position: relative;
    display: flex; 
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    padding: 150px;
    justify-content: space-around;
 }
 .body .h2{
    position: relative;
    padding: 60px;
    font-size: 2em;
 }
 .body .p{
    position: relative;
    line-height: 1.6;
    font-size: 1.4em;
 }
 