.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #00093c,#2d0b00);
    color: #fff;
    border-top-left-radius: 125px;
    height: 31vh;
}
.topSection{
    position: relative;
    display: flex;
    margin-top: 30px;
}
.firstRow{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10%;
}
.firstRow h3{
    padding: 20px;
}
.firstRow p{
    padding: 20px;
}
.secondRow{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
    margin-left: 10%;
}
.thirdRow{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-left: 10%;
}
.h3{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5%;
}
.li{
    list-style-type: none;
    margin-left: 3%;
    padding: 10px;
}
.li a{
    text-decoration: none;
    text-align: center;
    color: grey;
}
.li a:hover{
    color: blue;
}
.thirdRow{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.thirdRow .a{
    padding: 20px;
    color: grey;
    text-decoration: none;
}
.thirdRow .a:hover{
    color: blue;
}
.thirdRow h3{
    padding:20px;
    font-size: 1.2em;
}
.line{
    border: 0.5px solid grey;
}